In [7]:
# 1.
# Prepare the Data:Complete
# Run the provided package dependency and data imports, and then merge the mouse_metadata and study_results DataFrames into a single DataFrame.:Complete

# Display the number of unique mice IDs in the data:complete
#  check for any mouse ID with duplicate time points. Display the data associated with that mouse ID, and then create a new DataFrame where this data is removed. Use this cleaned DataFrame for the remaining steps.

# Display the updated number of unique mice IDs.:Complete

import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

In [8]:
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

In [9]:
mouse_data = pd.read_csv(mouse_metadata_path)
study_data = pd.read_csv(study_results_path)

In [11]:
merge_df = pd.merge(mouse_data, study_data)
merge_df

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
...,...,...,...,...,...,...,...,...
1888,z969,Naftisol,Male,9,30,25,63.145652,2
1889,z969,Naftisol,Male,9,30,30,65.841013,3
1890,z969,Naftisol,Male,9,30,35,69.176246,4
1891,z969,Naftisol,Male,9,30,40,70.314904,4
1892,z969,Naftisol,Male,9,30,45,73.867845,4

In [12]:
mouseStudy_df = merge_df[["Mouse ID","Timepoint","Tumor Volume (mm3)","Metastatic Sites","Drug Regimen","Sex","Age_months","Weight (g)"]]

mouseStudy_df.head()

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
0,k403,0,45.000000,0,Ramicane,Male,21,16
1,k403,5,38.825898,0,Ramicane,Male,21,16
2,k403,10,35.014271,1,Ramicane,Male,21,16
3,k403,15,34.223992,1,Ramicane,Male,21,16
4,k403,20,32.997729,1,Ramicane,Male,21,16

In [18]:
mouse_count_df = mouseStudy_df["Mouse ID"].nunique()
mouse_count_df

249

In [23]:
duplicates = mouseStudy_df[mouseStudy_df.duplicated(['Mouse ID', 'Timepoint'], keep=False)]

duplicates

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
908,g989,0,45.000000,0,Propriva,Female,21,26
909,g989,0,45.000000,0,Propriva,Female,21,26
910,g989,5,48.786801,0,Propriva,Female,21,26
911,g989,5,47.570392,0,Propriva,Female,21,26
912,g989,10,51.745156,0,Propriva,Female,21,26
913,g989,10,49.880528,0,Propriva,Female,21,26
914,g989,15,51.325852,1,Propriva,Female,21,26
915,g989,15,53.442020,0,Propriva,Female,21,26
916,g989,20,55.326122,1,Propriva,Female,21,26
917,g989,20,54.657650,1,Propriva,Female,21,26

In [44]:
Main_df = mouseStudy_df.drop_duplicates(subset=['Mouse ID'], keep='first')

Main_df

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
0,k403,0,45.0,0,Ramicane,Male,21,16
10,s185,0,45.0,0,Capomulin,Female,3,17
20,x401,0,45.0,0,Capomulin,Female,16,15
30,m601,0,45.0,0,Capomulin,Male,22,17
40,g791,0,45.0,0,Ramicane,Male,11,16
...,...,...,...,...,...,...,...,...
1858,z314,0,45.0,0,Stelasyn,Female,21,28
1860,z435,0,45.0,0,Propriva,Female,12,26
1863,z581,0,45.0,0,Infubinol,Female,24,25
1873,z795,0,45.0,0,Naftisol,Female,13,29
1883,z969,0,45.0,0,Naftisol,Male,9,30

In [45]:
summary_stats = Main_df.describe()
summary_stats

In [41]:
Total_count = Main_df["Mouse ID"].nunique()
Total_count

249

In [ ]:
# Generate Summary Statistics
# Create a DataFrame of summary statistics. Remember, there is more than one method to produce the results you're after, so the method you use is less important than the result.

# Your summary statistics should include:

# A row for each drug regimen. These regimen names should be contained in the index column.

# A column for each of the following statistics: mean, median, variance, standard deviation, and SEM of the tumor volume.

In [56]:
summary_stats = Main_df.groupby('Tumor Volume (mm3)')['Drug Regimen'].agg(['mean','median','std', 'min','max'])
summary_stats

TypeError: agg function failed [how->mean,dtype->object]